# Movie Recommendation System 
### Task 2
## CodeClause Data Science Internship
### Tridib Dalui

In [38]:
import numpy as np
import pandas as pd

In [39]:
dm=pd.read_csv('tmdb_5000_movies.csv')
dc=pd.read_csv('tmdb_5000_credits.csv')

## Data cleaning

In [40]:
dm.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4570,439000,"[{""id"": 10402, ""name"": ""Music""}, {""id"": 35, ""n...",NaN,3062,"[{""id"": 276, ""name"": ""philadelphia""}, {""id"": 4...",en,42nd Street,A producer puts on what may be his last Broadw...,1.933366,"[{""name"": ""Warner Bros."", ""id"": 6194}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1933-02-02,2281000,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,42nd Street,6.1,37
1554,30000000,"[{""id"": 878, ""name"": ""Science Fiction""}]",http://www.d-9.com/,17654,"[{""id"": 100, ""name"": ""slum""}, {""id"": 542, ""nam...",en,District 9,"Aliens land in South Africa and, with their sh...",63.136780,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-08-05,210819611,112.0,"[{""iso_639_1"": ""af"", ""name"": ""Afrikaans""}, {""i...",Released,You are not welcome here.,District 9,7.3,3382
3927,3000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.sonyclassics.com/pleasegive/,40247,"[{""id"": 236, ""name"": ""suicide""}, {""id"": 242, ""...",en,Please Give,"In New York City, a husband and wife butt head...",5.325156,"[{""name"": ""Sony Pictures Classics"", ""id"": 58},...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-01-22,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Please Give,6.0,57
1198,40000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",http://www.escapeearthmovie.com/,68179,"[{""id"": 9831, ""name"": ""spaceship""}, {""id"": 995...",en,Escape from Planet Earth,Astronaut Scorch Supernova finds himself caugh...,18.142180,"[{""name"": ""Rainmaker Entertainment"", ""id"": 221...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2013-02-14,74597643,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Earth's greatest secrets are about to break out!,Escape from Planet Earth,5.7,332
3058,0,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",NaN,134597,"[{""id"": 3070, ""name"": ""mercenary""}, {""id"": 850...",en,The Collection,Arkin escapes with his life from the vicious g...,16.361743,"[{""name"": ""Fortress Features"", ""id"": 5176}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-09-21,6842058,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Every great collector has a vision.,The Collection,5.9,289

In [41]:
dm.shape

(4803, 20)

In [42]:
dc.sample(5)

,movie_id,title,cast,crew
3254,13751,Akeelah and the Bee,"[{""cast_id"": 1, ""character"": ""Akeelah"", ""credi...","[{""credit_id"": ""569ae7cc9251410cc6001211"", ""de..."
1025,913,The Thomas Crown Affair,"[{""cast_id"": 16, ""character"": ""Thomas Crown"", ...","[{""credit_id"": ""52fe428cc3a36847f8027377"", ""de..."
1473,2900,The Astronaut's Wife,"[{""cast_id"": 16, ""character"": ""Commander Spenc...","[{""credit_id"": ""52fe4373c3a36847f805529f"", ""de..."
2997,321258,The Boy,"[{""cast_id"": 2, ""character"": ""Greta Evans"", ""c...","[{""credit_id"": ""57465d589251415e63000c2d"", ""de..."
2372,27380,Megaforce,"[{""cast_id"": 14, ""character"": ""Ace Hunter"", ""c...","[{""credit_id"": ""5765e851c3a3687fd10010d4"", ""de..."

In [43]:
dc.shape

(4803, 4)

#### lets merge this two dataframe with respect to title

In [44]:
df=dm.merge(dc,on='title')

In [45]:
df.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
1218,65000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,10641,"[{""id"": 1605, ""name"": ""new love""}, {""id"": 2038...",en,Autumn in New York,Autumn in New York follows the sexual exploits...,8.680334,"[{""name"": ""Lakeshore Entertainment"", ""id"": 126...",...,103.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,He fell in love for the first time. She fell i...,Autumn in New York,5.7,135,10641,"[{""cast_id"": 1, ""character"": ""Will Keane"", ""cr...","[{""credit_id"": ""52fe439a9251416c75016d65"", ""de..."
3442,6500000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",http://www.trackerthemovie.com/,62255,[],en,Tracker,An ex-Boer war guerrilla in New Zealand is sen...,2.074295,"[{""name"": ""T.H.E. Films"", ""id"": 668}, {""name"":...",...,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Tracker,6.0,16,62255,"[{""cast_id"": 1, ""character"": ""Arjan"", ""credit_...","[{""credit_id"": ""56d1879ec3a3681e3e009e73"", ""de..."
3154,12899867,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.volver-lapelicula.com,219,"[{""id"": 516, ""name"": ""child abuse""}, {""id"": 57...",es,Volver,Raimunda (Penélope Cruz) works and lives Madri...,19.747809,"[{""name"": ""El Deseo"", ""id"": 49}]",...,121.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,Return.,Volver,7.3,406,219,"[{""cast_id"": 3, ""character"": ""Raimunda"", ""cred...","[{""credit_id"": ""52fe4228c3a36847f8008629"", ""de..."
3387,7000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",http://www.themightymacs.com/,48620,"[{""id"": 6075, ""name"": ""sport""}, {""id"": 18396, ...",en,The Mighty Macs,"In the early 70s, Cathy Rush becomes the head ...",2.932784,[],...,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Mighty Macs,5.0,15,48620,"[{""cast_id"": 1001, ""character"": ""Cathy Rush"", ...","[{""credit_id"": ""52fe476ec3a36847f813528d"", ""de..."
2510,15600000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.juwannamann.com/,35696,"[{""id"": 6075, ""name"": ""sport""}, {""id"": 6496, ""...",en,Juwanna Mann,A basketball star is booted out of the NBA whe...,2.244947,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Juwanna Mann,4.2,20,35696,"[{""cast_id"": 1, ""character"": ""Jamal Jefferies ...","[{""credit_id"": ""52fe45b19251416c9103b0f9"", ""de..."

In [46]:
df.shape

(4809, 23)

In [47]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

we need to take only the necessary columns

In [48]:
df=df[['genres','id','keywords','overview','title','cast','crew']]

In [49]:
df.head()

,genres,id,keywords,overview,title,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Data Preprocessing

In [50]:
#checking for null values

df.isna().sum()

genres      0
id          0
keywords    0
overview    3
title       0
cast        0
crew        0
dtype: int64

In [51]:
#dropping the null columns

df.dropna(inplace=True)

In [52]:
#checking for duplicate Values

df.duplicated().sum()

0

#### To clean the columns and create tags

In [53]:
import ast

In [54]:
def convert1(obj):
    l1=[]
    for i in ast.literal_eval(obj):
        l1.append(i['name'])
    return l1

Now We need to clean the 'genres' column

In [55]:
df['genres']=df['genres'].apply(convert1)

Now lets do the same for 'keywords' column

In [56]:
df['keywords']=df['keywords'].apply(convert1)

we need to take top 3 cast of 'cast' column

In [57]:
def convert2(obj):
    l2=[]
    c=0
    for i in ast.literal_eval(obj):
        if c !=3:
            l2.append(i['name'])
            c=c+1
        else:
            break
    return l2

In [58]:
df['cast']=df['cast'].apply(convert2)

To take only the director name from crew

In [59]:
def convert3(obj):
    l3=[]
    for i in ast.literal_eval(obj):
        if i['job']== 'Director':
            l3.append(i['name'])
            break
    return l3

In [60]:
df['crew']=df['crew'].apply(convert3)

lets convert the overview column to a list

In [61]:
df['overview']=df['overview'].apply(lambda x:x.split())

##### we need to remove the spaces in names to remove conflict

In [62]:
df['genres']=df['genres'].apply(lambda x:[i.replace(" ","") for i in x])
df['keywords']=df['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
df['cast']=df['cast'].apply(lambda x:[i.replace(" ","") for i in x])
df['crew']=df['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [63]:
df.head()

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [64]:
df['tags']=df['genres']+df['keywords']+df['overview']+df['cast']+df['crew']

In [65]:
df=df[['id','title','tags']]

##### Now the tags columns is the mmain column for us now lets process it

In [66]:
#we need to convert the tags column into string

df['tags']=df['tags'].apply(lambda x:" ".join(x))

In [67]:
#to convert this into lowercase

df['tags']=df['tags'].apply(lambda x:x.lower())

 #### To make the Columns machine ready

to stem the data

In [68]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

df['tags']=df['tags'].apply(stem)

to vectorize

In [69]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

vector=cv.fit_transform(df['tags']).toarray()

In [70]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [71]:
df.head()

,id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict culturecla...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drugabus exotici...
2,206647,Spectre,action adventur crime spi basedonnovel secreta...
3,49026,The Dark Knight Rises,action crime drama thriller dccomic crimefight...
4,49529,John Carter,action adventur sciencefict basedonnovel mar m...

##### To measure the cosine distance between vectors

In [72]:
from sklearn.metrics.pairwise import cosine_similarity

similarity=cosine_similarity(vector)

In [73]:
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

### To make the recommendation function

we will take the 5 similar movie on the basis of least 5 cosine distance 
with that movie vector

In [82]:
def recommend(movie):
    id=df[df['title']==movie].index[0]
    dis=similarity[id]
    m_list=sorted(list(enumerate(dis)),reverse=True,key=lambda x:x[1])[1:11]
    print("Recommended Movies :-")
    for i in m_list:
        print(df.iloc[i[0]].title)

### Now Let's Test our function

In [83]:
recommend('Avatar')

Recommended Movies :-
Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.
Battle: Los Angeles
Predators
Small Soldiers
Jupiter Ascending
Meet Dave

In [84]:
recommend('Avengers: Age of Ultron')

Recommended Movies :-
Iron Man 3
Iron Man 2
Iron Man
Thor
The Avengers
The Wolverine
Captain America: Civil War
Ant-Man
Thor: The Dark World
X-Men Origins: Wolverine

#### Our Model is Working Fine

### Now Save The Model

In [87]:
import pickle
pickle.dump(df,open('movie_recommender.pkl','wb'))

# Thank You